<%
function inputfloat(...spread) {
    return ''
}

var row = customer === undefined ? {
    CODCLIENTE: "987",
    CODGENERO: ""
} : customer;
%>
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <%- include('../../components/web-header') %>
    <style>
        .hide {
            display: none;
        }
    </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <%- include('../../components/left-aside.ejs') %>
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <%- include('../../components/kt-header') %>
            <!--begin::Content -->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    <!--begin::Container-->
                    <div class="container">
                        <!--begin::Row-->
                        <div class="row">
                            <div class="col-xl-12">
                                <!-- begin:: card customer  -->
                                <form id="frm-customer" >
                                    <div class="card ">
                                        <div class="card-header">
                                            <div class="card-title ">Mantenimiento de Clientes</div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <%- include('../components/input-float.ejs',{
                                                colsm:"6", colmd:"4", collg:"3",
                                                type:"text", label:"CIF", iid:"CODCLIENTE",
                                                vale: row.CODCLIENTE, name:"" }); %>
                                                <%- include('../components/input-float',{
                                                colsm:"6", colmd:"4", collg:"3",
                                                type:"text", label:"CUI", iid:"CUI",
                                                vale: row.CUI, name:"CUI"}); %>
                                                <%- include('../components/input-float',{
                                                colsm:'6', colmd:'4', collg:'3',
                                                type:'text', label:'Fecha Vencimiento DPI', iid:'CUIVENCIMIENTO',
                                                vale: row.CUIVENCIMIENTO, name: 'CUIVENCIMIENTO'} ) %>
                                            </div>
                                            <div class="row">
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGENERO", iid: "CODGENERO",
                                                label: "Genero ", vale: row.CODGENERO,
                                                options: [
                                                {id: "M", text: "MASCULINO"},
                                                {id: "F", text: "FEMENINO"} ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODESTADOCIVIL", iid: "CODESTADOCIVIL",
                                                label: "Estado civil", vale: row.CODESTADOCIVIL,
                                                options: [
                                                {id: "S", text: "SOLTERO"},
                                                {id: "C", text: "CASADO"} ] }) %>
                                            </div>
                                            <div class="row">
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "P_NOMBRE", iid: "P_NOMBRE",
                                                label:"1er Nombre", type: "text", vale: row.P_NOMBRE }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "S_NOMBRE", iid: "S_NOMBRE",
                                                label:"2do Nombre", type: "text", vale: row.S_NOMBRE }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "T_NOMBRE", iid: "T_NOMBRE",
                                                label:"3er Nombre", type: "text", vale: row.T_NOMBRE }) %>
                                            </div>
                                            <div class="row">
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "P_APELLIDO", iid: "P_APELLIDO",
                                                label:"1er Apellido", type: "text", vale: row.P_APELLIDO }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "S_APELLIDO", iid: "S_APELLIDO",
                                                label:"2do Apellido", type: "text", vale: row.S_APELLIDO }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "T_APELLIDO", iid: "T_APELLIDO",
                                                label:"Apellido de Casada", type: "text", vale: row.T_APELLIDO }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "FCHNACIMIENTO", iid: "FCHNACIMIENTO",
                                                label:"Fecha Nacimiento", type: "text", vale: row.FCHNACIMIENTO }) %>
                                            </div>
                                            <div class="row">
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODNACIONALIDAD", iid: "CODNACIONALIDAD",
                                                label: "Nacionalidad", vale: row.CODNACIONALIDAD,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODPROFESION", iid: "CODPROFESION",
                                                label: "Profesion", vale: row.CODPROFESION,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODOCUPACION", iid: "CODOCUPACION",
                                                label: "Ocupacion", vale: row.CODOCUPACION,
                                                options: [ ] }) %>
                                            </div>
                                            <div class="row">
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CONDICIONMIGRATORIA", iid: "CONDICIONMIGRATORIA",
                                                label: "Condición Migratoria", vale: row.CONDICIONMIGRATORIA,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODCONDICIONVIVIENDA", iid: "CODCONDICIONVIVIENDA",
                                                label: "Condición Vivienda", vale: row.CODCONDICIONVIVIENDA,
                                                options: [ ] }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "TELEFONO", iid: "TELEFONO",
                                                label:"Telefono", type: "text", vale: row.TELEFONO }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "6", colmd: "4", collg: "3",
                                                name: "MOVIL", iid: "MOVIL",
                                                label:"Celular", type: "text", vale: row.MOVIL }) %>
                                            </div>
                                            <div class="row">
                                                <span class="fw-bold mb-2">Lugar de nacimiento</span>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEOPAISNACIMIENTO", iid: "CODGEOPAISNACIMIENTO",
                                                label: "País", vale: row.CODGEOPAISNACIMIENTO,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEODEPNACIMIENTO", iid: "CODGEODEPNACIMIENTO",
                                                label: "Departamento", vale: row.CODGEODEPNACIMIENTO,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEOMUNNACIMIENTO", iid: "CODGEOMUNNACIMIENTO",
                                                label: "Municipio", vale: row.CODGEOMUNNACIMIENTO,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEOALDNACIMIENTO", iid: "CODGEOALDNACIMIENTO",
                                                label: "Aldea", vale: row.CODGEOALDNACIMIENTO,
                                                options: [ ] }) %>
                                            </div>
                                            <div class="row">
                                                <span class="fw-bold mb-1">Dirección de Residencia</span>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEOPAISRESIDENCIA", iid: "CODGEOPAISRESIDENCIA",
                                                label: "País", vale: row.CODGEOPAISRESIDENCIA,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEODEPRESIDENCIA", iid: "CODGEODEPRESIDENCIA",
                                                label: "Departamento", vale: row.CODGEODEPRESIDENCIA,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEOMUNRESIDENCIA", iid: "CODGEOMUNRESIDENCIA",
                                                label: "Municipio", vale: row.CODGEOMUNRESIDENCIA,
                                                options: [ ] }) %>
                                                <%- include('../components/select-float',{
                                                colsm: "6", colmd: "4", collg: "3",
                                                name:"CODGEOALDRESIDENCIA", iid: "CODGEOALDRESIDENCIA",
                                                label: "Aldea", vale: row.CODGEOALDRESIDENCIA,
                                                options: [ ] }) %>
                                                <%- include('../components/input-float', {
                                                colsm: "12", colmd: "12", collg: "12",
                                                name: "DIRECCION_RESIDENCIA", iid: "DIRECCION_RESIDENCIA",
                                                label:"Direccion", type: "text", vale: row.DIRECCION_RESIDENCIA }) %>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col">
                                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--end::Row-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Entry-->
            </div>
            <!--end::Content-->
            <%- include('../../components/bottom-footer.ejs') %>
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->
<!--begin::modal-->

<%- include('../../components/kt-scrolltop') %>
<script>
    var hostUrl = "assets/";
    const url = `${window.location.origin}/api`;
    const [a, b, c, d, e, codcliente] = window.location.pathname.split('/');
    var DefaultDataCustomer;
</script>
<%- include('../../components/web-footer') %>
<script src="assets/js/custom/widgets.js"></script>
<script src="assets/js/custom/customers/customers-byid.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        KTCustomer.init()

        if (codcliente.toString() !== '0'){
            DefaultDataCustomer = JSON.parse('<%- JSON.stringify(row)%>');
            KTCustomer.initEditCustomer();
        }else{
            KTCustomer.initNewCustomer();
        }
    });
</script>
</body>
</html>