<%
var doc = document != undefined ? document : {};
var encabezado = doc.codoperador == "8" ? {
	stragencia: "ELECTROTEL",
	strempresa: "COMINSA, SOCIEDAD ANONIMA",
	strnit: "28163273",
	stractividad: "Servicio de Internet Residencial",
	strdireccion: "6 Avenida 1-70 Zona 4 Tactic A. V.",
	strtelefono: "3667-3866",
	strhorario_sem: "09:00am - 05:30pm",
	strhorario_fs: "09:00am - 01:00pm"
} : {
	stragencia: "SONIVISION",
	strempresa: "Jose Antonio Guerrero",
	strnit: "3563626",
	stractividad: "Servicio de television por cable",
	strdireccion: "1 Calle 4-69 Zona 4 Tactic A. V.",
	strtelefono: "79539140",
	strhorario_sem: "08:30am - 01:00pm y 02:00pm - 05:30pm",
	strhorario_fs: "08:30am - 02:30pm"
};
console.log('codempleado', doc.codoperador)
%>
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <%- include('../../components/web-header') %>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body"
      class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed toolbar-tablet-and-mobile-fixed aside-enabled aside-fixed"
      style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
<!--begin::Main-->
<!--begin::Root-->
<div class="d-flex flex-column flex-root">
    <!--begin::Page-->
    <div class="page d-flex flex-row flex-column-fluid">
        <%- include('../../components/left-aside.ejs') %>
        <!--begin::Wrapper-->
        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
            <!--begin::Header-->
            <div id="kt_header" class="header align-items-stretch">
                <!--begin::Container-->
                <div class="container-fluid d-flex align-items-stretch justify-content-between">
                    <!--begin::Aside mobile toggle-->
                    <div class="d-flex align-items-center d-lg-none ms-n3 me-1" title="Show aside menu">
                        <div class="btn btn-icon btn-active-color-white" id="kt_aside_mobile_toggle">
                            <i class="bi bi-list fs-1"></i>
                        </div>
                    </div>
                    <!--end::Aside mobile toggle-->
                    <!--begin::Mobile logo-->
                    <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                        <a href="/" class="d-lg-none">
                            <img alt="Logo" src="assets/media/logos/pilar-text3.svg" class="h-25px"/>
                        </a>
                    </div>
                    <!--end::Mobile logo-->
                    <%- include('../../components/top-navbar.ejs', UserInfo) %>
                </div>
                <!--end::Container-->
            </div>
            <!--end::Header-->
            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        <form id="frmdocumento" method="delete" action="/cash/operations/documents">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Documento Electronico</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="text-center">
                                                <p class="fw-bolder"><%= encabezado.stragencia %></p>
                                                <p class="fw-bolder"><%= encabezado.strempresa %></p>
                                                <p class="fw-bolder">NIT: <%= encabezado.strnit %></p>
                                            </div>
                                        </div>

                                        <div class="form-group col-sm-12 col-md-3">
                                            <label for="codoperador" class="form-label">Codigo Caja</label>
                                            <input type="text" class="form-control" id="codoperador" name="codoperador"
                                                   value="<%- doc.codoperador %>" readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-3" >
                                            <label for="codserial" class="form-label">Codigo Serial</label>
                                            <input type="text" class="form-control" id="codserial" name="codserial"
                                                   value="<%- doc.codserial %>" readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-3">
                                            <label for="strfechahoraemision" class="form-label">Fecha Emision</label>
                                            <input type="text" class="form-control" id="strfechahoraemision"
                                                   name="strfechahoraemision"
                                                   value="<%- doc.FechaHoraEmision %>" readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-3">
                                            <label for="totcantidad" class="form-label">Cantidad</label>
                                            <input type="text" class="form-control" id="totcantidad" name="totcantidad"
                                                   value="<%- doc.TOTCANTIDAD %>" readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label for="uuid" class="form-label">uuid</label>
                                            <input type="text" class="form-control" id="uuid" name="uuid"
                                                   value="<%- doc._uuid %>" readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label for="strnitemisor" class="form-label">NIT Emisor</label>
                                            <input type="text" class="form-control" id="strnitemisor"
                                                   name="strnitemisor"
                                                   value="<%= encabezado.strnit %>"
                                                   readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-4">
                                            <label for="strnitreceptor" class="form-label">Nit Receptor</label>
                                            <input type="text" class="form-control" id="strnitreceptor" name="strnitreceptor"
                                                   value="<%- doc.STRNIT %>" readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6">
                                            <label for="strnombreservicio" class="form-label">Nombre Servicio</label>
                                            <input type="text" class="form-control" id="strnombreservicio"
                                                   name="strnombreservicio" value="<%- doc.STRNOMBRESER %>" readonly>
                                        </div>
                                        <div class="form-group col-sm-12 col-md-6 ">
                                            <label for="strdirservicio" class="form-label">Direccion Servicio</label>
                                            <input type="text" class="form-control" id="strdirservicio"
                                                   name="strdirservicio" value="<%- doc.STRDIRSERVICIO %>" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="strmotivoanulacion" class="form-label">Motivo Anulacion</label>
                                            <textarea class="form-control" id="strmotivoanulacion" required
                                                      name="strmotivoanulacion" minlength="1" maxlength="255"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-danger">REVERSAR</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end::Content-->
            <%- include('../../components/bottom-footer.ejs') %>
        </div>
        <!--end::Wrapper-->
    </div>
    <!--end::Page-->
</div>
<!--end::Root-->
<%- include('../../components/kt-scrolltop') %>
<!--end::Main-->
<%- include('../../components/web-footer') %>
<!--begin::Page Custom Javascript(used by this page)-->
<script src="assets/js/custom/widgets.js"></script>
<!--end::Page Custom Javascript-->

<script>
    "use strict";
    const url = `${window.location.origin}/api`;
    $("#frmdocumento").submit(function (e) {
        e.preventDefault();
        const form = $(this);
        const data = form.serialize();
        const url = form.attr('action');
        const method = form.attr('method');
        $.ajax({
            url: url,
            type: method,
            data: data,
            success: function (data) {
                console.log(data);
                if (data.success) {
                    Swal.fire({
                        title: 'Exito!',
                        text: data.message,
                        type: 'success',
                        confirmButtonText: 'Ok'
                    }).then((result) => {
                        if (result.value) {
                            window.location.href = "/";
                        }
                    });
                } else {
                    Swal.fire({
                        title: 'Error!',
                        text: data.message,
                        type: 'error',
                        confirmButtonText: 'Ok'
                    });
                }
            }
        });
    });

</script>
<!--end::Page Custom Javascript-->
<!--end::Javascript-->

</body>
<!--end::Body-->
</html>